*{
    margin: 0 20px;
    padding: 0;
    box-sizing: border-box;
}

// .cartList{
//     margin: 0 auto;
//     min-height: 400px;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     gap: 20px 28px;
//     padding-top: 100px;
// }
