.product {
    width: 100%;   
    border: 2px solid lightblue;
    padding: 0 20px;

    color: #565656;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    position: relative;

    &--name {
        color: #565656;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 600;
        padding: 0 30px;
    }
    &--img {
        display: block;
        margin: 0 auto;        
        height: 300px;        
        background-size: cover;       

    }
  
    

}

.favorite--image {
    position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
}

