.button_modal {    
    padding: 5px;
    margin: 5px 0;
    border-radius: 3px;
    background-color: lightblue;    
    font-family: Roboto;
    font-size: 14px;
    color: #565656;    
    border-style: none;
      
}

.button_modal:hover {
    background-color: rgb(97, 175, 201);
    color: #FFF;
}
