.header-conteiner{
    position: relative;
}

.header-menu {
    position: absolute;
    margin-top: 40px;
    left: 30%;

   
}

.header-link {
    color: rgb(97, 125, 134);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}