.header-shop {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    color: lightblue;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 600;
}

.header-contener {
    display: flex;
    justify-content: space-between;
}

.header-favorites {
    position: relative;
}

.favorites-img {
    
    width: 50px;
    height: 50px;
}

.favorites-count {
    position: absolute;
    top: 17px;
    right: 20px;

}

.header-cart {
    position: relative;
}

.cart-img {
    width: 50px;
    height: 50px;
}

.cart-count {
    position: absolute;
    top: 12px;
    right: 17px;
}

.header-menu a {
    color: #565656;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}